    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100dvw;
        height: auto;

    }

    body::-webkit-scrollbar {
        display: none;
    }

    header {
        width: 100dvw;
        background-color: rgba(10, 128, 102, 0.911);
        min-height: 5dvh;
        padding: 2dvh;
        text-align: center;
        color: #fff;
        position: relative;
        /* margin-bottom: 10px; */
    }

    /* main content container */
    .mian-content-wrapper {
        width: 100dvw;
        min-height: 90dvh;
        background: linear-gradient(to top left, rgba(23, 122, 101, 0.568), rgba(9, 146, 116, 0.555));
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), auto));
        gap: 5px;

    }

    .user-content-wrapper {
        width: fit-content;
        height: fit-content;

        >button {
            padding: 0.2rem 0.4rem;
            background-color: rgba(10, 128, 102, 0.911);
            color: #fff;
            border-radius: 4%;
            border: none;
            cursor: pointer;
            transition: all 500ms;
            margin: 0 0.2rem;
        }

        &:hover {
            transition: all 500ms;
            box-shadow: inset 0 0 100px rgba(42, 192, 160, 0.911);
        }

        >button:hover {
            background-color: #fff;
            color: rgba(10, 128, 102, 0.911);
        }

        >button:last-child:hover {
            background-color: rgba(236, 49, 36, 0.801);
            color: rgba(255, 255, 255, 0.911);
        }
    }

    .add-delete-btns-wrapper {
        position: absolute;
        display: flex;
        top: 3svh;
        right: 10svw;
        box-sizing: border-box;

    }

    .first-add-note-btn {
        width: fit-content;
        background-color: #fff;
        color: rgba(10, 128, 102, 0.911);
        font-size: 2rem;
        margin-right: 0.3rem;
        padding: 0.2rem .75rem;
        text-align: center;
        border-radius: 50%;
        border: none;
        transition: all 500ms ease-in-out;

    }

    .first-add-note-btn:hover {
        rotate: 90deg;
        background-color: rgba(10, 128, 102, 0.911);
        color: #fff;
    }

    .delete-all-notes-btn {
        width: fit-content;
        background-color: #fff;
        color: rgba(10, 128, 102, 0.911);
        font-size: 1rem;
        margin-right: 1.5rem;
        padding: 0;
        border-radius: 50%;
        border: none;
        /* translate: 70% 100%; */
        transition: all 500ms ease-in-out;

        >i {
            padding: 0.7rem 0.9rem;
            pointer-events: none;
        }

    }

    .delete-all-notes-btn:hover {
        transform: scale(1.05) rotate(45deg);
        background-color: rgba(236, 49, 36, 0.918);
        color: #fff;
    }

    textarea {
        width: 100%;
        font-size: 1.2rem;
        border: none;
        font-weight: 300;
    }

    textarea:focus {
        outline-color: rgba(218, 214, 214, 0.658);
    }

    .confirmation-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        background-color: rgba(10, 128, 102, 0.863);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 50dvw;
        height: 20dvh;
        border: 2px solid rgba(233, 25, 10, 0.801);
        border-radius: 10px;
        transform: translate(-50%, -50%);
        display: none;

        >h3 {
            font-weight: 400;
        }
    }

    .user-concern-wrapper {
        display: flex;
        justify-content: space-between;
    }

    #user-confirmed {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 1.3rem;
        margin-right: 0.3rem;
        cursor: pointer;
    }

    .yes-no-btn-wrapper {
        margin-top: 1rem;
    }

    #YesBtn,
    #NoBtn {
        min-width: 3rem;
        padding: .35rem 1rem;
        cursor: pointer;
        margin-right: 0.2rem;
        border: 2px solid transparent;
        border-radius: 5px;
        font-weight: 700;
        color: #6b6060;
    }

    @media (min-width:568px) {
        #NoBtn:hover {
            border: 2px solid rgba(111, 238, 210, 0.911);
            background-color: rgba(17, 207, 163, 0.829);
            color: #fff;
        }

        #YesBtn:hover {
            border: 2px solid rgba(233, 25, 10, 0.377);
            background-color: rgba(236, 49, 36, 0.801);
            color: #fff;
        }
    }

    @media screen and (min-width:300px) and (max-width:567px) {
        #mianContentWrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), auto));
            min-height: 92dvh;
        }

        .confirmation-wrapper {
            font-size: 0.3rem;
            width: 80dvw;
            height: auto;
            border-style: groove;

            >h3 {
                text-align: center;
                font-size: 0.8rem;
            }

        }

        .user-concern-wrapper {
            flex-direction: column;
        }

        #YesBtn,
        #NoBtn {
            width: 100%;
            padding: 0;
            font-size: smaller;
            margin: 3px 0px;
            font-weight: 700;

        }

        #YesBtn {
            border: 2px solid rgba(233, 25, 10, 0.377);
        }

        #NoBtn {
            border: 2px solid rgba(111, 238, 210, 0.911);
        }

        .user-content-wrapper {
            >button {
                width: 100%;
            }
        }

        h1 {
            font-size: 1rem;
        }

        #addDeleteBtnsWrapper {
            top: 0.5svh;
            right: 0svw;
            padding: 0;
            margin: 0;

            >button {
                /* padding: 0; */
                font-size: 0.8rem;
                margin-right: 0.2rem;
                /* background-color: red; */
            }

            >button:first-child {
                transform: none;
                color: #fff;
                background-color: transparent;
            }


            >button:last-child {
                color: #fff;
                background-color: transparent;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }

    }